{% extends "base.html" %}
{% block title %}Manually Upload cards below {% endblock %}

{% block content %}

<!-- Message declaring some cards are missing -->
{{ addManually }}

<!-- Missing Cards -->
{{ data }}

{{ addBelow }}

  <form action="" method="post">
    <div class="form-group">
        <label for="Cubename">Cube name</label>
        <input name="cubename" class="form-control" id="inputCubeName" placeholder="Please enter your cube name">
    </div>
    <div class="form-group">
        <label for="Scryfallcardlink">Scryfall Card Link</label>
        <input type='cardlink 'name="cardlink" class="form-control" id="inputScryfallCardLink" placeholder="Please enter the scryfall link for the card you want to manually upload">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}